body{
	overflow: scroll;
}
#notesContainer{
	margin-top: 2em;
}
.noteTpl{
	padding:0%;
}
#noteText{
	width:none;
	margin:0;
}
.SearchBar_notfind{
    /* */
     display: none;
}
.noteTpl{
	display: none;
}
